@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
  --length: 90dvmin;
  --btnSize: calc(var(--length)/10);
  --btnOuterGap: calc(var(--btnSize)/3);
  --btnInnerGap: calc(calc(var(--length) - calc(calc(var(--btnSize) + var(--btnOuterGap)) * 2)) / 2);
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--md-sys-color-background);
}

h1 {
  font-size: 15vmin;
  font-family: 'Dancing Script', cursive;
  color: var(--md-sys-color-on-background);
}

@media(orientation:landscape) {
  body {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

main {
  height: var(--length);
  width: var(--length);
  background-color: #2f2f2f;
  display: flex;
  align-items: center;
}

section {
  position: absolute;
  width: var(--length);
  aspect-ratio: 1;
  z-index: 0;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
  scroll-snap-align: start;
}



button {
  height: var(--btnSize);
  aspect-ratio: 1;
  border: none;
  color: inherit;
  background-color: #fff7;
  z-index: 1;
  border-radius: 50%;
}

.material-icons {
  font-size: var(--btnSize);
  display: flex;
  justify-content: center;
  color: #0007;
}

button:first-child {
  margin-left: var(--btnOuterGap);
  margin-right: var(--btnInnerGap);
}

button:last-child {
  margin-left: var(--btnInnerGap);
  margin-right: var(--btnOuterGap);
}